pytest
pytest-mock
opencv-python
pillow
imagehash
numpy
requests
beautifulsoup4
tqdm
icrawler
matplotlib
scikit-learn
seaborn
keras-tuner
tensorboard
fastapi
uvicorn
python-multipart
praw
python-dotenv
